*{
  box-sizing: border-box;
}

.page{
  padding: 30px;
}

.brand-header{
  text-align:center;
  font-family: "Snell Roundhand";
    font-weight: normal;
    font-size: 30px;

}

.nav-links{
  display: flex;
  border: 2px solid;
  padding: 35px;
  font-size: 35px;
  justify-content: space-evenly;
  list-style: none;
  text-decoration: none;
  font-weight: bold;
  margin: 0;
}

a{
  text-decoration: none;
  color: black;
  color: gray;
}
a:hover {
  color: orange;
  text-decoration: underline;
}

.container{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  border: 2px solid;

}
.container > article{
  border: 2px solid;
}

.story-5{
  grid-row: 2 / 3;
  grid-column: 2 / -1;
}


.article-title{
  text-align: center;
  font-style: italic;
  font-size: 30px;
  font-weight: normal;
}

.article-img{
  display: block;
  margin: 0 auto;
  max-height: 250px;
}

article{
  padding: 10px;
}
