*{
  margin: 2px;
}

body{
  height: 100vh;
  display:flex;
  font-size: 20px;
  flex-direction: column;
  color: gray;
  text-align: center;
}

.flex-header{
  padding-top:3rem;
  background-color: orange;
  padding-bottom: 3rem;
}
.flex-footer{
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: orange;
}

.flex-main{
  display:flex;
  flex:1;
}

.flex-nav{
  padding-top: 3rem;
  background-color: red;
  flex: 1 1 5rem;
}

.flex-aside{
  padding-top: 3rem;
  background-color:red;
  flex: 1 1 5rem;
}

.flex-article{
  padding-top: 3rem;
  background-color:blue;
  flex: 3 3;
}

@media all and (max-width: 540px){
  .flex-main{
    flex-direction: column;
  }
}
