nav{
  font-size: 2rem;
  background-color: gray;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display:flex;
  /* justify-content: space-around; */
}

nav ul li{
  cursor: pointer;
  padding: .5rem;
  flex: auto;
  text-align: center;
}

nav ul li:hover {
  background-color: blue;
  color: white;
}

@media all and (max-width: 550px){
  nav ul{
    flex-direction: column;
  }

  nav ul li {
    text-align: center;
  }
}
