*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 35px;
}

body{
  min-height: 100vh;
}
.App {
  min-height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

.square{
  width: 500px;
  height: 500px;
  border: 1px solid orange;
  margin: 25px;
}

.input{
  width: 500px;
  height: 100px;
  margin: 25px;
  border: 1px solid orange;
}
